html, body
  {
    height:                 100%;
    margin:                 0px;
    padding:                0px;
    background:             #000000;
    overflow:               hidden;
  }

body
  {
  }

#content,
#initialLoadingWidget,
#slideshow,
#lightbox
  {
    position:               fixed !important;
    left:                   0 !important;
    top:                    0 !important;
    width:                  100% !important;
    height:                 100% !important;
  }

#loadingWidget,
#waitingWidget
  {
    position:               absolute !important;
    top:                    1.5vw;
    right:                  1.5vw;
    width:                  64px !important;
    height:                 64px !important;
    z-index:                20;
    display:                none;
  }

#loadingWidget
  {
    top:                    1.45vw;
    right:                  1.15vw;
  }

#lightbox
  {
    text-align:             center;
  }

#content
  {
    z-index:                10;
  }

#thumbnails
  {
    height:                 100% !important;
    overflow:               auto;
  }

#lightbox
  {
    display:                none;
  }

#initialLoadingWidget
  {
    position:               absolute;
    z-index:                15;
    background:             url(/media/graphics/big-snake.gif) no-repeat center;
  }

#loadingWidget
  {
    background:             url(/media/graphics/linear-spinner.gif) no-repeat top right;
  }

#waitingWidget
  {
    background:             url(/media/graphics/Clock.png) no-repeat top right;
  }

#navigationCloseWidget
  {
    cursor:          pointer;
  }

#lightbox #thumbnails
  {
    margin-right:    20px;
    width:           100%;
    overflow:        auto;
  }

#lightbox #thumbnails img
  {
    padding:         4px 4px 4px 4px;
    background:      #444444;
/*    border:          1px solid #444444;*/
    box-shadow:      0px 2px 15px #333;
    -moz-box-shadow: 0px 2px 15px #333;
    -webkit-box-shadow: 0px 2px 15px #333;
    position:        relative;
    margin:          8px 8px 8px 8px;
    cursor:          pointer;
  }

.jspVerticalBar
  {
    width:           8px;
    background:      none;
  }

.jspArrow
  {
    height:          8px !important;
  }

.jspTrack, .jspArrow
  {
    background:      #202020;
  }

.jspVerticalBar>.jspDisabled,
.jspVerticalBar>.jspDisabled:hover
  {
    background:      #404040;
  }

.jspDrag,
.jspArrow
  {
    background:      #404040;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

.fancybox-overlay
  {
    background:         none;
  }

.fancybox-wrap,
.fancybox-skin
  {
    overflow:           visible !important;
  }

.fancybox-skin
  {
    padding:            0px !important;
    box-shadow:         none !important;
    background:         transparent;
  }

.fancybox-title
  {
    font-family:        Raleway, sans-serif !important;
    font-size:          1.25em !important;
    text-align:         center;
    color:              #404040;
    padding-top:        0em;
    margin-top:         1.1em;
    margin-bottom:      1.1em;
  }

.fancybox-title-inside-wrap
  {
    margin-left:        -50vw;
    margin-right:       -50vw;
    white-space:        nowrap;
  }

.fancybox-image
  {
    border:             solid;
    border-width:       5px;
    border-color:       #222222;
  }

#fancybox-error
  {
    text-align:         center;
  }

#fancybox-buttons
  {
    position:           relative;
    width:              auto !important;
    text-align:         center !important;
  }

#fancybox-buttons ul
  {
    background:         none;
    border:             0px;
    box-shadow:         none;
    width:              auto;
    height:             auto;
    display:            inline-block !important;
    text-align:         center !important;
  }

#fancybox-buttons a
  {
    background:         none !important;
    font-family:        'Glyphicons Halflings' !important;
    font-size:          0.8em !important;
    color:              #404040 !important;
    padding:            0.2em !important;
    border:             0px !important;
    display:            inline !important;
    text-align:         center;
    width:              16px !important;
  }

/*#fancybox-buttons a:active
  {
    color:              red;
  }

#fancybox-buttons a:armed
  {
    color:              blue;
  }*/

#fancybox-buttons a:hover,
div.fancybox-title:hover
  {
    color:              #c0c0c0 !important;
    text-decoration:    none !important;
  }

#fancybox-buttons.top
  {
    top:                1.5em;
  }

#navigationCloseWidget
  {
    background:         none !important;
    font-family:        'Glyphicons Halflings';
    font-size:          2em;
    color:              #606060;
    padding:            0.2em;
  }

#navigationCloseWidget:before
  {
    content:            "\e088";
  }

.btnPrev:before
  {
    content:            "\e079";
  }

.btnNext:before
  {
    content:            "\e080";
  }

.btnLightbox:before
  {
    content:            "\e011";
  }

.btnClose:before
  {
    content:            "\e021";
  }

.btnPlay:before
  {
    content:            "\e072";
  }

.btnPlay.btnPlayOn:before
  {
    content:            "\e073";
    margin-left:        0.2em;
    margin-right:       -0.2em;
  }

/* xxxFB are styles for the fallback gallery pages. */

#lightboxFB #thumbnails img
  {
    padding:         4px 4px 4px 4px;
    background:      #444444;
/*    border:          1px solid #444444;*/
    box-shadow:      0px 2px 15px #333;
    -moz-box-shadow: 0px 2px 15px #333;
    -webkit-box-shadow: 0px 2px 15px #333;
    position:        relative;
    margin:          8px 8px 8px 8px;
    cursor:          pointer;
  }

div#pageFB
  {
    text-align:     center;
    margin-left:    auto;
    margin-right:   auto;
  }

/*#navigationWidgetsFB
  {
    margin-top:     20px;
    margin-bottom:  8px;
  }

#navigationWidgetsFB #navigationPreviousWidget,
#navigationWidgetsFB #navigationNextWidget,
#navigationWidgetsFB #navigationLightBoxWidget,
#navigationWidgetsFB #navigationHomeWidget,
#navigationWidgetsFB #navigationPlayWidget,
#navigationWidgetsFB #navigationPauseWidget
  {
    display:         inline !important;
  }*/

#imageFB
  {
    border:          solid;
    border-width:    8px;
    border-color:    #222222;
  }

@media only screen and (min-width: 1px) and (max-width: 640px)
  {
    .top
      {
        top:                0.3em !important;
      }

    #fancybox-buttons a
      {
        font-size:          1.3em !important;
        padding:            0.5em !important;
      }

    #navigationCloseWidget:before
      {
        font-size:          1em !important;
      }
  }

@media only screen and (min-width: 641px) and (max-width: 1024px)
  {
    .top
      {
        top:                0.3em !important;
      }

    #fancybox-buttons a
      {
        font-size:          1.5em !important;
        padding:            0.4em !important;
      }

    #navigationCloseWidget:before
      {
        font-size:          2em !important;
      }
  }


/*** SPLASH ***/

#imageOverlay
  {
    display:                none;
  }

.fancybox-inner #imageOverlay
  {
    position:               absolute;
    top:                    0px;
    left:                   0px;
    width:                  100%;
    height:                 100%;
    z-index:                15;
    /* Only initially - made visible by Javascript after initialization. */
    display:                block;
  }


#brand
  {
    position:               absolute;
    top:                    1.1vw;
    right:                  1.1vw;
    width:                  100%;
    height:                 100%;
    z-index:                10;
    background-image:       url($mediaLink(relativePath='/graphics/StoppingDown.png')$);
    background-repeat:      no-repeat;
    background-position:    top right;
    background-size:        300px 113px; /* 712px 268px  0.42x */
  }

#cornerMenu
  {
    position:               absolute;
    bottom:                 1.5vw;
    right:                  1.5vw;
    text-align:             right;
    z-index:                20;
  }

#cornerMenu a:link, #cornerMenu a:visited, #cornerMenu a:active, #cornerMenu a:hover
  {
    margin-right:           0px;
    color:                  #aaaaaa;
    text-decoration:        none;
    font-size:              130%;
    font-family:            sans-serif;
    font-weight:            bold;
    text-shadow:            -1px 0 0.2em black, 0 1px 0.2em black, 1px 0 0.2em black, 0 -1px 0.2em black;
  }

#copyright
  {
    margin-top:             40px;
    color:                  #aaaaaa;
    font-size:              80%;
    font-family:            sans-serif;
    font-weight:            normal;
    text-shadow:            -1px 0 0.2em black, 0 1px 0.2em black, 1px 0 0.2em black, 0 -1px 0.2em black;
  }

/****************           *******************************************************************************************/

@media only screen and (max-width: 768px)
  {
    #brand
      {
        background-size:        195px 73px; /* 0.65x */
      }

    #cornerMenu a:link, #cornerMenu a:visited, #cornerMenu a:active, #cornerMenu a:hover
      {
        font-size:              1.7em;
        line-height:            1.5em !important;
      }
  }

@media only screen and (max-width: 560px)
  {
    #brand
      {
        left:                   1.1vw;
        background-position:    top left;
      }
  }

