.nw-calendar
  {
    padding-bottom:       20px;
    margin-top:           80px;
    margin-bottom:        80px;
  }

.nw-calendar-table 
  {
    width:                100%;
    background:           #cccccc;
    margin-bottom:        0px !important;
    border-collapse:      collapse;
    border:               2px solid #818181;
  }

.nw-calendar-table th
  {
    background:           #818181;
    font-size:            1.3em;
    font-family:          Arial, sans-serif;
    color:                #ffffff;
    padding-left:         8px;
    padding-top:          5px;
    padding-bottom:       5px;
    border:               2px solid #818181;
  }

.nw-calendar-table ul
  { 
    padding-left:         0px;
  }

.nw-calendar-table th.nw-calendar-title
  {
    font-size:            2.3em;
    height:               2em;
  }

.nw-calendar-table td
  {
    height:               120px;
    text-align:           left;
    border:               2px solid #818181;
    padding-left:         2.2em;
  }

.nw-calendar-table td ul
  {
    margin-left:          0px;
  }
  
.nw-calendar-table td ul li
  {
    list-style-image:     none;
    list-style-position:  outside;
    list-style-type:      none;
    margin:               0px 0px -10px -4px;
  }

.nw-calendar-table td ul li a,
.nw-calendar-table td ul li a:link,
.nw-calendar-table td ul li a:visited
  {
    font-family:          "Square Peg", cursive;
    font-size:            0.7em; 
    line-height:          0em;
    color:                #444444;
    text-indent:          1em;
    margin-left:          -1em;
  }

.nw-calendar-table td ul li a.nw-calendar-table-link-major
  {
    font-weight:          bold;
    font-size:            0.95em;
    color:                black;
  }

.nw-calendar-yearselector
  {
    margin-top:           5px;
    font-family:          Arial, sans-serif;
  }

