@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Raleway|Merriweather:400,700|Lora:400italic,700italic");

body
  {
    background: #f8f8f8;
    font-family: Merriweather, serif;
    font-size: 110%;
    line-height: 1em;
  }

p, li, td
  {
    font-size: 75%;
    line-height: 1.7em;
    text-align: justify;
  }

em
  {
    font-size:   75%;
    font-family: Lora, Merriwheather, serif;
    line-height: 1.7em;
  }

p em
  {
    font-size:   110%;
    font-family: Lora, Merriwheather, serif;
  }

h1, h2, h3, h4
  {
    font-family: Raleway, Arial, sans-serif;
  }

p.nwXsltMacro_Photo_photoId:before,
td.nwXsltMacro_PhotoTabs_photoId:before,
span.nwXsltMacro_InlinedPhoto_photoId:before
  {
    content:          "Photo id: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Photo_caption:before,
span.nwXsltMacro_InlinedPhoto_caption:before
  {
    content:          "Caption: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Photo_title:before
  {
    content:          "Title: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Photo_shootingData:before
  {
    content:          "Shooting data: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Photo_zoomType:before
  {
    content:          "Zoom type: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Photo_size:before,
span.nwXsltMacro_InlinedPhoto_size:before
  {
    content:          "Size: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Photo_float:before,
span.nwXsltMacro_InlinedPhoto_float:before
  {
    content:          "Float: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

td.nwXsltMacro_PhotoTabs_photoId:before
  {
    content:          "Photo id: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

td.nwXsltMacro_PhotoTabs_active:before
  {
    content:          "Active: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_PhotoPair_photo1Id:before
  {
    content:          "Photo id 1: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_PhotoPair_photo2Id:before
  {
    content:          "Photo id 2: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_PhotoPair_caption1:before
  {
    content:          "Caption 1: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_PhotoPair_caption2:before
  {
    content:          "Caption 2: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Movie_movieId:before
  {
    content:          "Movie id: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Movie_caption:before
  {
    content:          "Caption: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Movie_title:before
  {
    content:          "Title: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Movie_shootingData:before
  {
    content:          "Shooting data: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Movie_width:before
  {
    content:          "Width: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_Movie_height:before
  {
    content:          "Height: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_PhotoComparator_groupId:before,
p.nwXsltMacro_PhotoComparatorWithLoupe_groupId:before
  {
    content:          "Group Id: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

p.nwXsltMacro_PhotoComparator_mediaBasePath:before,
p.nwXsltMacro_PhotoComparatorWithLoupe_mediaBasePath:before
  {
    content:          "Media base path: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

table.nwXsltMacro_PhotoComparatorWith_options:before,
table.nwXsltMacro_PhotoComparatorWithLoupe_options:before
  {
    content:          "Options: ";
    font-family:      sans-serif;
    font-weight:      bold;
  }

div.nwXsltMacro_PhotoComparatorWithLoupe_appendedHtml:before
  {
    content:          "Appended HTML: ";
    font-family:      sans-serif;
    font-weight:      bold;
    font-size:        70%;
  }

p.nwXsltMacro_Photo_photoId,
p.nwXsltMacro_Photo_caption,
p.nwXsltMacro_Photo_title,
p.nwXsltMacro_Photo_shootingData,
p.nwXsltMacro_Photo_zoomType,
td.nwXsltMacro_PhotoTabs_label,
td.nwXsltMacro_PhotoTabs_photoId,
td.nwXsltMacro_PhotoTabs_active,
p.nwXsltMacro_PhotoPair_photo1Id,
p.nwXsltMacro_PhotoPair_photo2Id,
p.nwXsltMacro_PhotoPair_caption1,
p.nwXsltMacro_PhotoPair_caption2,
p.nwXsltMacro_Movie_movieId,
p.nwXsltMacro_Movie_caption,
p.nwXsltMacro_Movie_width,
p.nwXsltMacro_Movie_height,
p.nwXsltMacro_PhotoComparator_mediaBasePath,
table.nwXsltMacro_PhotoComparator_options tr td,
p.nwXsltMacro_PhotoComparatorWithLoupe_mediaBasePath,
table.nwXsltMacro_PhotoComparatorWithLoupe_options tr td,
figure legend
  {
    border:           1px black;
    font-family:      sans-serif;
  }

table.nwXsltMacro_PhotoComparator_options,
table.nwXsltMacro_PhotoComparatorWithLoupe_options
  {
    font-size:        70%;
  }

div.nwXsltMacro_Photo,
div.nwXsltMacro_PhotoTabs,
div.nwXsltMacro_Thumbnail,
div.nwXsltMacro_PhotoComparator,
div.nwXsltMacro_PhotoComparatorWithLoupe,
div.nwXsltMacro_PhotoPair,
span.nwXsltMacro_InlinedPhoto,
div.nwXsltMacro_Movie,
figure
  {
    border:           1px;
    background-color: #d0d0d0;
    padding:          10px;
    margin-top:       2px;
  }

div.nwXsltMacro_PhotoComparatorWithLoupe_appendedHtml
  {
    border:           1px;
    background-color: #e0e0e0;
    padding:          10px;
    margin-top:       2px;
  }
