body
  {
    background:      #f8f8f8;
    /*min-width:       980px !important;*/
  }

img
  {
    max-width:          100%;
    height:             auto;
  }

.accessibility
  {
    visibility:      collapse;
  }

p.break
  {
    clear:           both;
  }

/**************** CONTENT **********************************************************************************************/

.container-fluid
  {
    padding-left:       20px;
    padding-right:      20px;
  }

.navbar > .container-fluid
  {
    padding-left:       0px;
    padding-right:      0px;
  }

.container-fluid > .content
  {
    margin-left:        200px !important;
    margin-right:       200px !important;
  }

footer
  {
    border-top:      1px dashed #E0E0E0;
    margin-top:      100px;
    padding-top:     20px;
    padding-left:    0px;
  }

.nw-blog-post-meta
  {
    position:        relative;
    top:             -4px;
    margin-bottom:   40px;
  }

.tags
  {
    position:        relative;
    top:             -90px;
    left:            10px;
    margin-bottom:   40px;
  }

.nw-blog-post-content
  {
    top:             -90px;
  }

div.store-book-list
  {
    display:                flex;
    flex-direction:         column;
  }

div.store-book-list div img
  {
    width:                  25em;
    float:                  left;
    margin-right:           1em;
  }

div.store-book-list div ul
  {
    margin-left:            25.5em;
  }

/**************** NAVBAR **********************************************************************************************/

.navbar-header
  {
    width:                  100%;
  }

.navbar-default
  {
    border:                 0px;
    margin-bottom:          0px;
  }

.navbar-collapse
  {
    width:                  100%;
    background:             #818181;
    padding-left:           0px !important;
    padding-right:          0px !important;
    clear:                  both;
    z-index:                7000; /* below any photo layer */
    color:                  #f0f0f0 !important;
    box-shadow:             0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:     0 2px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:        0 2px 34px rgba(0, 0, 0, 0.2);
  }

a.navbar-brand
  {
    float:                  right;
    width:                  329px;
    height:                 135px;
    margin-right:           200px !important;
    background-repeat:      no-repeat;
    background-image:       url(/media/StoppingDown_Header_Left.png);
    background-attachment:  scroll;
    background-size:        329px 135px;
    background-origin:      border-box;
  }

.navbar-toggle
  {
    float:                  left !important;
    margin-top:             1.8em;
    margin-left:            2.8em;
  }

.navbar-nav
  {
    border-radius:          0px !important;
    clear:                  both;
  }

ul.nav
  {
    margin-left:            215px !important;
  }

p.navbar-text
  {
    float:                  right;
    height:                 30px;
    line-height:            30px;
    padding-left:           0px !important;
    padding-right:          0px !important;
    margin-left:            0px !important;
    margin-right:           220px !important;
    margin-top:             0px !important;
    margin-bottom:          0px !important;
    text-align:             right;
    text-overflow:          '---';
    white-space:            nowrap;
  }

/*
.feedPanel
  {
    margin-top:             0.6em;
    margin-right:           220px !important;
  }
*/

img#rss-icon
  {
    width:                  0.75em;
    height:                 0.75em;
    border:                 0px;
    vertical-align:         baseline;
  }

img#twitter-icon
  {
    width:                  1em;
    height:                 1em;
    border:                 0px;
    vertical-align:         -0.15em;
    margin-left:            0em;
  }

img#gab-icon
  {
    width:                  1em;
    height:                 1em;
    border:                 0px;
    vertical-align:         -0.15em;
    margin-left:            0em;
  }

/**************** SIDEBAR *********************************************************************************************/

.container-fluid > .sidebar
  {
    float:           right;
    width:           160px;
    left:            auto;
    right:           0px;
    margin-right:    20px;
    margin-top:      15em;
  }

.sidebar ul
  {
    list-style:      none;
    margin:          0;
    padding:         0;
  }

.sidebar li
  {
    text-align:      left;
    padding-top:     2px;
    padding-bottom:  2px;
    margin:          0;
  }

.nw-sidebarSlot1,
.nw-sidebarSlot2,
.nw-sidebarSlot3,
.nw-sidebarSlot4,
.nw-sidebarSlot5,
.nw-sidebarSlot6,
.nw-sidebarSlot7
  {
    padding:         8px 0px 8px 0px;
/*    border:          0px;*/
    margin-bottom:   10px;
  }

.well
  {
    padding:         0px;
    border:          none;
    background:      transparent;
    box-shadow:      none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.row
  {
    margin-left:            -35px;
    margin-right:           -35px;
  }

@media only screen and (min-width: 768px) and (max-width: 979px)
  {
    p.navbar-text
      {
        display:            inline !important;
        margin-right:       20px !important;
      }
  }

@media only screen and (min-width: 980px) and (max-width: 1169px)
  {
    p.navbar-text
      {
        display:            none !important;
      }
  }

@media only screen and (max-width: 979px)
  {
    .sidebar
      {
        display:            none;
      }

    .container-fluid > .content
      {
        margin-left:        0px !important;
        margin-right:       0px !important;
      }

    .navbar-nav
      {
        padding-left:       15px !important;
        /* padding-right:      20px !important; */
      }

    ul.nav
      {
        margin-left:        0px !important;
      }

    .navbar-nav p.navbar-text
      {
        margin-right:       35px !important;
        text-align:         right;
      }

    .navbar .navbar-brand
      {
        margin-right:       0px !important;
      }

    .feedPanel
      {
        margin-right:       35px !important;
      }
  }

@media only screen and (min-width: 1601px)
  {
    .container-fluid > .content
      {
        margin-left:            400px !important;
        margin-right:           400px !important;
      }

    .container-fluid > .sidebar
      {
        width:                  340px !important;
      }

    .navbar .navbar-brand
      {
        margin-right:           400px !important;
      }

    ul.nav
      {
        margin-left:            415px !important;
      }

    .feedPanel
      {
        margin-right:           420px !important;
      }

    p.navbar-text
      {
        margin-right:           420px !important;
      }
  }

/* Collapsed navbar. This section must be after the other media queries. */
@media only screen and (max-width: 767px)
  {
    a.navbar-brand
      {
        width:              295px; /*197px;*/
        height:             121px; /*81px;*/
        background-size:    295px 121px;
      }

    ul.nav
      {
        margin-left:        16px !important;
      }

    img#rss-icon
      {
        margin-left:        -0.4em !important;
      }

    p.navbar-text
      {
        display:            none !important;
      }

    .feedPanel
      {
        text-align:         left !important;
        margin-left:        22px !important;
        margin-top:         -1.8em !important;
      }
  }

