div.article-photo
  {
    margin-left:        6em;
    margin-right:       6em;
    margin-top:         4.8em;
    margin-bottom:      4.8em;;
    text-align:         center;
  }

div.article-photo p.caption
  {
    font-family:   Arial, sans-serif !important;
    font-size:     0.97em !important;
    font-style:    italic;
    text-align:    center;
    color:         #818181;
    margin-top:    10px;
    margin-bottom: 5px;
  }

div.article-photo p.title
  {
    font-family:   Raleway, sans-serif !important;
    font-size:     1.5em !important;
    font-style:    normal;
    text-align:    center;
    color:         #404040;
    margin-top:    1em;
    margin-bottom: 0.6em;
  }

div.article-photo p.shootingData
  {
    font-family:   Raleway, sans-serif !important;
    font-size:     0.8em !important;
    font-style:    italic;
    text-align:    center;
    color:         #818181;
    margin-top:    1em;
  }

div.article-photo img
  {
    border:                 4px solid #606060;
  }

.fancybox-skin
  {
    background:    #101010;
    /* background:    #202020; */
  }

div.fancybox-overlay
  {
    background:    url(/media/fancybox_overlay_dark.png);
  }

div.fancybox-title
  {
    font-family:            Raleway, sans-serif !important;
    font-size:              1.2em !important;
    font-style:             normal;
    text-align:             center;
    color:                  #808080;
    padding-top:            0em;
    margin-top:             1.1em;
    margin-bottom:          1.1em;
  }

img.framedPhoto
  {
    border:                 0px;
  }

/* This image is not visible: it's used to allocate room with the proper aspect ratio. */
div.framedPhoto-container img.placeholder
  {
    width:                  100%;
    height:                 auto;
    min-height:             200px;
    opacity:                0;
    border:                 0px !important;
  }

img.framed,
div.framedPhoto-container.visible
  {
    display:                block;
    border:                 4px solid #606060;
    height:                 auto;
  }

div.framedPhoto-container div.background,
div.framedPhoto-container div.loading,
div.framedPhoto-container div.image
  {
    position:               absolute;
    left:                   0px;
    top:                    0px;
    width:                  100%;
    height:                 100%;
  }

div.framedPhoto-container
  {
    display:                none;
    border:                 0px;
    /*height:                 0px;*/
    position:               relative;
    border:                 4px solid #606060;
    height:                 auto;
  }

div.framedPhoto-container div.image
  {
    z-index:                3;
    background-size:        100% 100%; /* 100% in height will stretch a bit because of rounding in computing the height from the placeholder. */
    background-repeat:      no-repeat;
    border:                 0px;
  }

.aspect-ratio-3_2
  {
    padding-bottom: 67%;
  }

.thumbnail
  {
    background-color:       transparent !important;
    border:                 0px;
    padding:                0px;
  }

div.framedPhoto-container div.loading
  {
    z-index:                2;
    overflow:               hidden;
    background:             url(/media/graphics/big-snake.gif) no-repeat center;
  }

div.framedPhoto-container div.background
  {
    z-index:                1;
    overflow:               hidden;
    background:             #414141;
  }

/**************** PHOTO PAIR *******************************************************************************************/

div.photoPair
  {
    display:                grid;
    grid-template-columns:  49% 2% 49%;
  }

div.photoPair div
  {
    margin:                 0px !important;
  }

/**************** COMPARER *********************************************************************************************/

div.comparer
  {
    font-family:     'PT Sans Narrow', Arial, sans-serif;
    width:           1000px;
    margin-left:     auto;
    margin-right:    auto;
    margin-top:      20px;
    margin-bottom:   80px;
  }

div.comparer table
  {
    width:           auto;
  }

div.comparer select
  {
    width:           auto;
    font-size:       1em;
    margin-left:     0px;
    margin-right:    8px;
  }

div.comparer input
  {
    margin-left:     0px;
    margin-right:    8px;
  }

div.comparer button
  {
    padding:         2px;
    margin-left:     8px;
    margin-right:    8px;
  }

div.comparer img
  {
    border:                 4px solid #606060;
  }

div.comparator-left,
div.comparator-right
  {
    width:                  500px;
    height:                 500px;
  }



@media only screen and (min-width: 0px) and (max-width: 200px)
  {
    div.framedPhoto-container.size200
      {
        display:            block;
      }
  }

@media only screen and (min-width: 201px) and (max-width: 400px)
  {
    div.framedPhoto-container.size400
      {
        display:            block;
      }
  }

@media only screen and (min-width: 401px) and (max-width: 800px)
  {
    div.framedPhoto-container.size800
      {
        display:            block;
      }
  }

@media only screen and (min-width: 801px) and (max-width: 979px)
  {
    div.framedPhoto-container.size1920
      {
        display:            block;
      }
  }

/* Above 979px - see Layout.css - there is plenty of margins, so we shrink image size at 65% */
/*  800 is good up to 1280px, unless hi-res */
/* 1920 is good up to 3000px, unless hi-res */
@media only screen and (min-width: 980px) and (max-width: 1280px)
  {
    div.framedPhoto-container.size800
      {
        display:            block;
      }
  }

@media only screen and (min-width: 980px) and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min-width: 980px) and (max-width: 1280px) and (-o-min-device-pixel-ratio: 13/10),
       only screen and (min-width: 980px) and (max-width: 1280px) and (min-resolution: 120dpi)
  {
    div.framedPhoto-container.size800
      {
        display:            none !important;
      }

    div.framedPhoto-container.size1920
      {
        display:            block;
      }
  }

@media only screen and (min-width: 1281px) and (max-width: 3000px)
  {
    div.framedPhoto-container.size1920
      {
        display:            block;
      }
  }

@media only screen and (min-width: 1281px) and (max-width: 3000px) and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min-width: 1281px) and (max-width: 3000px) and (-o-min-device-pixel-ratio: 13/10),
       only screen and (min-width: 1281px) and (max-width: 3000px) and (min-resolution: 120dpi)
  {
    div.framedPhoto-container.size1920
      {
        display:            none !important;
      }

    div.framedPhoto-container.size3840
      {
        display:            block;
      }
  }

@media only screen and (min-width: 3001px)
  {
    div.framedPhoto-container.size3840
      {
        display:            block;
      }
  }

img.inlined-photo-left
  {
    border:                 4px solid #606060;
    float:         left;
    margin-right:  16px;
    margin-bottom: 16px;
    margin-top:    4px;
  }

img.inlined-photo-right
  {
    border:                 4px solid #606060;
    float:         right;
    margin-left:   16px;
    margin-bottom: 16px;
    margin-top:    4px;
  }

div.article-movie
  {
    margin-top:    60px;
    margin-bottom: 60px;
    text-align:    center;
  }

div.article-movie p
  {
    font-family:   Arial, sans-serif;
    font-size:     65%;
    font-style:    italic;
    color:         #818181;
    text-align:    center;
    margin-top:    10px;
  }

div.article-movie video
  {
    border:                 4px solid #606060;
  }

span.inlined-photo-caption
  {
    font-family:   Arial, sans-serif;
    font-style:    italic;
    font-size:     12px;
    color:         #818181;
  }

.content a.loupeLink
  {
    border-bottom: 1px dashed;
  }

div.article-photo div
  {
    margin:        auto;
    margin-top:    0px;
    margin-bottom: 0px;
  }

div.article-photo-overlay
  {
    margin-left:            0em;
    margin-bottom:          0.3em !important;
    height:                 16px;
    z-index:                10;
    text-align:             left;
  }

div.article-photo-overlay span,
div.article-photo-overlay a:active,
div.article-photo-overlay a:link,
div.article-photo-overlay a:visited,
div.article-photo-overlay a:hover,
div.photoTabs ul.nav.nav-tabs li
  {
    font-family:   'PT Sans Narrow', Arial, sans-serif !important;
    font-size:     0.92em !important;
    font-style:    normal !important;
    font-weight:   normal !important;
    color:         #818181;
  }

/* PHOTO TABS */

div.photoTabs
  {
    margin-top:             3em; /* MUST BE THE SAME AS div.articlePhoto */
  }

div.photoTabs div.article-photo
  {
    margin-top:             0px !important;
  }

div.photoTabs ul.nav.nav-tabs
  {
    margin-left:            6em !important; /* RELATED TO div.articlePhoto */
    margin-bottom:          0.3em !important;
    border:                 0px !important;
  }

div.photoTabs ul.nav.nav-tabs li,
div.photoTabs ul.nav.nav-tabs li a
  {
    margin-left:            0em !important; /* RELATED TO div.articlePhoto */
    margin-right:           1em !important;
    margin-bottom:          0em !important;
    border:                 0em !important;
    background-color:       transparent !important;
  }

div.photoTabs ul.nav.nav-tabs li
  {
    padding:                0px !important;
  }

div.photoTabs ul.nav.nav-tabs li a
  {
    margin-right:           0em !important;
    display:                list-item !important;
    padding:                0px !important;
  }

@media only screen and (max-width: 1199px)
  {
    div.article-photo
      {
        margin-left:        3em !important;
        margin-right:       3em !important;
      }

    div.photoTabs ul.nav.nav-tabs
      {
        margin-left:        3em !important;
      }
  }

@media only screen and (max-width: 979px)
  {
    div.fancybox-title
      {
        font-size:          1.8em !important;
      }
  }

@media only screen and (max-width: 639px)
  {
    div.article-photo
      {
        margin-left:        0px !important;
        margin-right:       0px !important;
      }

    div.photoTabs ul.nav.nav-tabs
      {
        margin-left:        3em !important;
      }
  }
