div.sidebar, 
div.topbar div.fill,
nav,
div.screenOnly,
div.apple_overlay
  {
    display: none;
  }

div.printOnly
  {
    display: block !important;
  }

img 
  {
    page-break-before: auto; 
    page-break-after:  auto; 
    page-break-inside: avoid; 
  }
