body
  {
    line-height:        1em !important;
    font-size:          13px;
  }

a,
a:link,
a:active,
a:visited,
a:hover
  {
    cursor:             pointer;
    color:              #818181;
  }

ul
  {
    list-style-type:    square;
  }

ul,
ol
  {
    margin-top:         0.68em;
    margin-bottom:      0.68em;
  }

li,
li::marker
  {
    color:              rgb(64, 64, 64);
  }

div.nw-blog-post-content hr,
hr.decorated
  {
    height:             30px;
    background:         url(/media/graphics/11954234341082748434zeimusu_Swash_ornament.svg.med.png) no-repeat scroll center;
    border:             none;
  }

/**************** CONTENT **********************************************************************************************/

.content
  {
    text-align:         justify;
  }

.content p.augustine
  {
    font-family:        Lora, Cormorant Garamond, serif !important;
    text-align:         right;
    font-size:          1.1em !important;
    font-style:         italic;
    margin-bottom:      4em
  }

.content p,
.content li,
.content td,
.content td p
  {
    font-size:          1.85em !important;
    font-family:        Cormorant Garamond, serif !important;
    line-height:        1.18em !important;
    margin:             0;
  }

.content ul li ul li,
.content td ul li ul li
  {
    font-size:          1em !important;
    font-family:        Cormorant Garamond, serif !important;
  }

.content p em
  {
    font-size:          0.8em !important;
    font-family:        Lora, Cormorant Garamond, serif;
    line-height:        1.0em !important; /* reduced because the Lora font has a slightly taller headroom */
  }

div.table
  {
    width:              95%;
    margin:             auto;
  }

.content table
  {
    min-width:          60%;
    margin-top:         6em;
    margin-bottom:      6em;
    margin-left:        auto;
    margin-right:       auto;
  }

.content table.small td
  {
    font-size:		    1.75em !important;
  }

.content td
  {
    border-top:         1px solid #ddd;
    border-bottom:      1px solid #ddd;
    border-collapse:    collapse;
    padding:            0.5em;
    text-align:         left;
  }

.content table.verticalborder tr td
  {
    border-left:        1px solid #ddd;
    border-right:       1px solid #ddd;
  }

.no-bullets
  {
    padding-inline-start: 0;
    list-style-type:    none;
  }

small, .small
  {
    font-size: 75%;
  }

.content p.small,
.content p.small em
  {
    font-size:          1.15em !important;
  }

.content a,
.content a:active,
.content a:link,
.content a:visited,
.content a:hover
  {
    font-weight:        bold;
  }

.content a:active
  {
    outline:            none;
  }

.content footer p
  {
    font-family:        Lora, Cormorant Garamond, serif !important;
    font-size:          0.9em !important;
    font-style:         italic;
    text-align:         left;
    color:              black;
  }

.content footer img
  {
    margin-bottom:      1em;
  }

/**************** BLOCKQUOTE & DIGRESSION *****************************************************************************/

.content blockquote
  {
    border-left-width:  0px;
    margin-top:         4em;
    margin-bottom:      4em;
    padding:            0px;
    /* Important here for applying to :before */
    font-family:        Cormorant Garamond, serif !important;
    font-style:         italic;
    font-size:          1em;
  }

.content blockquote p
  {
    color:              #303030;
    font-family:        Cormorant Garamond, serif !important;
    font-size:          1.194em !important;
    font-style:         italic;
    line-height:        1.55em !important;
    padding:            0px;
    margin-left:        5.5em;
    margin-right:       5.5em;
    margin-bottom:      30px;
  }

.content blockquote.antique p
  {
    font-size:          1.8em !important;
    font-family:        Bentham !important;
    font-style:         normal !important;
    text-align:         left !important;
  }

.content blockquote:before
  {
    font-family:        Cormorant Garamond, serif !important;
    font-size:          10.44em !important;
    content:            "\201C";
    display:            block;
    float:              left;
    height:             0.5em !important;
    margin-left:        0.2em !important;
    margin-top:         0.4em !important;
    color:              #e0e0e0;
    font-style:         normal;
 }

.content div.digression:before
  {
    font-family:        Cormorant Garamond, serif !important;
    font-size:          8em !important;
    font-style:         normal !important;
    content:            "*";
    display:            block;
    float:              left;
    height:             0.6em;
    margin-left:        0.4em;
    margin-top:         0.4em;
    margin-bottom:      40px;
    color:              #e0e0e0;
 }

.content div.digression p
  {
    color:              #404040;
    margin-left:        100px;
    margin-top:         30px;
    margin-bottom:      60px;
  }

p.first:first-letter
  {
    font-size    : 4.15em;
    display      : block;
    float        : left;
    margin-top   : 0.3em;
    margin-left  : 0em;
    margin-right : 0.04em;
    height       : 0.5em;
    font-family  : Georgia, serif;
    color        : #818181;
  }

@supports (-moz-appearance:none)
  {
    p.first:first-letter
      {
        margin-top   : 0.08em;
      }
  }

.date-heading
  {
    font-family:        Lora, Cormorant Garamond, serif !important;
    font-size:          1.1em;
    font-style:         italic;
    text-align:         right;
    margin-top:         1.0em;
    margin-bottom:      2em;
    line-height:        1.5em;
  }

.right-note,
.right-note p
  {
    font-family:        Lora, Cormorant Garamond, serif !important;
    font-size:          0.7em;
    font-style:         italic;
    text-align:         right;
    margin-top:         1.0em;
    margin-bottom:      2em;
  }

/**************** HEADINGS ********************************************************************************************/

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6
  {
    font-family:        Questrial, Arial, sans-serif !important;
    font-weight:        normal;
    text-align:         left;
  }

.content h2,
/* We've hidden the <h2> Blog header, and the blog title is replacing it. */
div.nw-blog-post h3
  {
    font-size:          3.3em;
    margin-top:         1em;
    margin-left:        -0.08em;
  }

div.nw-blog-post-meta
  {
    margin-bottom:      60px;
  }

div.nw-main h2,
.content h2
  {
    margin-bottom:      80px;
  }

.content h3
  {
    font-size:          1.64em;
    margin-top:         2em;
    margin-bottom:      1em;
  }

div.caption h3
  {
    font-size:          1.4em;
    margin-top:         0px;
    margin-bottom:      0px;
    text-align:         center;
    white-space:        nowrap;
    overflow:           hidden;
    text-overflow:      ellipsis;
  }

.content h4
  {
    font-size:          1.6em;
    padding-top:        40px;
    padding-bottom:     20px;
  }

.nw-blog-post-meta
  {
    font-family:        'PT Sans Narrow', Arial, sans-serif;
    font-size:          1.05em;
    margin-top:         -1.6em;
  }

/**************** TOPBAR **********************************************************************************************/

.navbar-nav a,
.navbar-nav p
  {
    font-size:          1em;
    font-weight:        normal !important;
  }

p.navbar-text
  {
    font-family:        Arial, sans-serif !important;
    color:              #f0f0f0 !important;
  }

.navbar-nav a
  {
    font-family:        'PT Sans Narrow', Arial, sans-serif !important;
    padding-left:       5px !important;
    padding-right:      5px !important;
  }

.navbar-nav a,
.navbar-nav a:link,
.navbar-nav a:active,
.navbar-nav a:visited,
.navbar-nav a:hover
  {
    color:              #f0f0f0 !important;
    text-align:         left !important;
    font-weight:        normal !important;
  }

.navbar-nav a:hover
  {
    text-decoration:    underline;
    color:              white !important;
  }

.navbar-nav ul,
.navbar-nav li,
.navbar-nav p,
.navbar-nav a,
.navbar-nav a:link,
.navbar-nav a:active,
.navbar-nav a:visited,
.navbar-nav a:hover
  {
    line-height:        30px !important;
    padding-top:        0px !important;
    padding-bottom:     0px !important;
  }

.navbar-nav li
  {
    text-align:         left;
    border-right:       0;
  }

/**************** SIDEBAR *********************************************************************************************/

.sidebar
  {
    font-family:        'PT Sans Narrow', Arial, sans-serif;
  }

.sidebar a,
.sidebar a:active,
.sidebar a:link,
.sidebar a:visited,
.sidebar a:hover
  {
    text-align:         left;
    font-weight:        bold;
    text-decoration:    none;
  }

.sidebar a:hover
  {
    text-decoration:    underline;
  }

/**************** TAG CLOUD *******************************************************************************************/

div.sidebar div.tagCloud
  {
    font-size:          1em !important;
    text-align:         left;
    line-height:        1.4em !important;
  }

div.sidebar div.nw-tagCloud h2
  {
    display:            none;
  }

div.nw-main div.tagCloud
  {
    font-size:          2em !important;
    text-align:         center;
    line-height:        1.5em !important;
  }

div.nw-main a.tagCloudItem
  {
    white-space:        nowrap;
    margin-right:       0.6em;
  }

a.tagCloudItem.rank1
  {
    font-size:          210% !important;
  }

a.tagCloudItem.rank2
  {
    font-size:          200% !important;
  }

a.tagCloudItem.rank3
  {
    font-size:          100% !important;
  }

a.tagCloudItem.rank4
  {
    font-size:          180% !important;
  }

a.tagCloudItem.rank5
  {
    font-size:          170% !important;
  }

a.tagCloudItem.rank6
  {
    font-size:          160% !important;
  }

a.tagCloudItem.rank7
  {
    font-size:          150% !important;
  }

a.tagCloudItem.rank8
  {
    font-size:          140% !important;
  }

a.tagCloudItem.rank9
  {
    font-size:          130% !important;
  }

a.tagCloudItem.rank10
  {
    font-size:          120% !important;
  }

a.tagCloudItem.rankOthers,
a.tagCloudItem.rankothers
  {
    font-size:          110% !important;
  }

/**************** FEED PANEL ******************************************************************************************/

p.feedPanel
  {
    font-family:        'PT Sans Narrow', Arial, sans-serif !important;
    font-size:          1.123em !important;
    font-weight:        normal !important;
    text-align:         right;
  }

p.feedPanel a
  {
    padding-right:      0px !important;
    color:              #333333 !important;
  }


div.nw-introduction
  {
    margin-bottom:      5em;
  }

div.nw-viewing
  {
    margin-top:         5em;
  }



span.a6000-custom-menu
  {
    padding-left:           1.4em !important;
    background:             url(/media/graphics/a6000/s_menu_cusom.png) no-repeat scroll left center;
    background-size:        1.3em;
  }

span.a6000-shoot-menu
  {
    padding-left:           1.4em !important;
    background:             url(/media/graphics/a6000/s_menu_shoot.png) no-repeat scroll left center;
    background-size:        1.3em;
  }


div.comparer td
  {
    border-top:             0px;
    border-bottom:          0px;
    padding:                0.2em;
  }

div.comparer select, div.comparer span
  {
    font-family:            'PT Sans Narrow', Arial, sans-serif !important;
    font-size:              0.6em !important;
  }

/****************           *******************************************************************************************/

@media only screen and (min-width: 1px) and (max-width: 767px)
  {
    .navbar-nav a,
    .navbar-nav p
      {
        font-family:        Arial !important;
        font-size:          2em !important;
        line-height:        1.5em !important;
        margin-right:       0.5em;
      }

    .feedPanel a
      {
        font-size:          1.2em;
      }

    .content blockquote p
      {
        margin-left:        40px;
        margin-right:       40px;
      }

    .content div.digression p
      {
        margin-left:        40px;
      }

    div.caption h3
      {
        font-size:          0.9em;
      }
  }

@media only screen and (min-width: 768px) and (max-width: 1200px)
  {
    div.caption h3
      {
        font-size:          1.2em;
      }
  }

@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi)
  {
  }


