<div id="content">
    <div id="initialLoadingWidget" >
    </div>
    <div id="slideshow">
    </div>
    <div id="imageOverlay">
        <div id="brand">
        </div>
        <div id="waitingWidget">
        </div>
        <div id="loadingWidget">
        </div>
        <div id="cornerMenu">
            <a href="$nodeLink(relativePath='/Blog')$">blog</a><br/>
            <a href="$nodeLink(relativePath='/Diary')$">diary</a><br/>
            <a href="$nodeLink(relativePath='/Themes')$">themes</a><br/>
            <div id="copyright"><span>&#169; Copyright by Fabrizio Giudici. All rights reserved.</span></div>
        </div>
    </div>
</div>